
.perspective{
  perspective: 90em;
}

.threeDPicRight1{
  transform: rotateY(1deg);
}

.threeDPicLeft1{
  transform: rotateY(-1deg);
}

.threeDPicRight{
  transform: rotateY(6deg);
}

.threeDPicLeft{
  transform: rotateY(-6deg);
}

.threeDPicX{
  transform: rotateX(-5deg);
}

.threeDPicX2{
  transform: rotateX(3deg);
}

.logoImage{
  max-width: 5em;
}

.logoImage2{
  max-width: 4em;
}

.logoImage3{
  max-width: 10em;
}

.nameOfLanguge{
  margin-left: 1em;
  font-weight: bold;
}

.writing{
  letter-spacing: 2px;
}

.writing2{
  letter-spacing: 1.2px;
}

#title{
  letter-spacing: 1px;
  color: #21295C;
}

#title2{
  color: #255C99;
}

#title3{
  color: #AD343E;
}

#title4{
  color: #23395B;
  font-family: 'Playfair Display', serif;
}

#hobbieImage{
max-width: 20em;
box-shadow: 10px 5px 5px #343a40;
}

#hobbieImage2{
max-width: 19em;
box-shadow: 10px 5px 5px #343a40;
}

#hobbieImageBoxShadow{
  box-shadow: 10px 5px 5px #343a40;
}

.sizeMe{
  max-width: 93%;
  max-height: 39em;
  margin: auto;
}

#caption{
  background-color: rgba(52, 58, 64, 0.7);
  max-width: 50em;
  height: 5em;
  margin: auto;
}

#captionText{
  letter-spacing: 1.2px;
  color: #FFFBFC;
  margin-top: -.5em;
}

/* footer */
footer {
  width: 100%;
  height: 11em;
  bottom: 0px;
  text-align: center;
}

.twitter,
.linkedin,
.github,
.Instagram,
.facebook {
  max-width: 3.8em;
  margin: auto;
  width: 80%;
  padding: .5em;
  margin-bottom: .9em;
  margin-top: 1em;
}

footer .copyright {
  margin-right: 1.25em;
  font-size: 1em;
  font-style: italic;
  color: #FFFBFC;
  letter-spacing: 1px;
}

footer .copyright2 {
  margin-top: -1em;
  margin-right: 1.25em;
  font-size: 1em;
  font-style: italic;
  color: #FFFBFC;
  letter-spacing: 1px;
}


footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

.clearfix {
  clear: both;
} /*/footer*/
